@page "/results"
@attribute [Authorize(Roles = "Admin")]
@inject IDbContextFactory<ApplicationContext> DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="px-4">
	<h1 class="mt-5">
		<span>Список обучающихся</span>
	</h1>
	<div class="mt-5">
		<table class="table">
			<thead>
				<tr>
					<th>Имя</th>
					<th>Фамилия</th>
					<th>Логин</th>
					<th>Тест</th>
					<th>Результат</th>
					<th>Время сдачи</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var r in Results)
				{
					<tr>
						<td>@r.User.Name</td>
						<td>@r.User.Surname</td>
						<td>@r.User.Email</td>
						<td class="text-truncate" style="max-width: 150px;">@r.Test</td>
						<td>@r.Score из @r.TotalScore</td>
						<td>@r.FinishedDate.ToLocalTime()</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@code {
	private AuthenticationState Auth { get; set; }

	private IEnumerable<Result> Results { get; set; } = new List<Result>();

	protected override async Task OnInitializedAsync()
	{
		Auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();

		await LoadResultsAsync();
	}

	private async Task LoadResultsAsync()
	{
		using var context = await DbFactory.CreateDbContextAsync();

		Results = await context.Results
			.Include(r => r.User)
			.ToListAsync();
	}
}
